link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"
meta name="author"      content=build.authors.join(',')
meta name="date"        content=build.date
meta name="subject"     content=build.description
meta name="generator"   content="Quarto #{Quarto::VERSION}"
meta name="DC.title"    content=build.title
meta name="DC.creator"  content=build.authors.join(',')
meta name="DC.description" content=build.description
meta name="DC.date"     content=build.date
meta name="DC.language" content=build.language
meta name="DC.rights"   content=build.rights