/* Sample style sheet for boom!, the book microformat              */
/* written  by Hakon Wium Lie and Bert Bos, November 2005          */
/* Converted to SCSS and improved by Noel Rappin                   */
/* You may reuse this style sheet for any purpose without any fees */

html {
  margin: 0;
}

html, p {
  font: 12pt/1.4 $font, serif;
}

body {
  margin: 0 0 0 0;
}

img {
  width: 100%;
}

h1, h2 {
  margin: 2em 0 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font;
  font-weight: bold;
  page-break-after: avoid;
  color: $heading_color;
}

h1 {
  page-break-before: right;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  margin-top: 10ex;
  font-weight: 900;
  text-align: right;
  border-bottom: 1pt solid lighten($heading_color, 50%);
}

h2 {
  page-break-before: always;
  text-align: left;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  font-size: 12pt;
  font-style: normal;
  margin-bottom: 0;
  padding-bottom: 0;
  color: lighten($heading_color, 50%);
}

h3 + div p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.sidebar-title {
  font-family: $heading_font;
  font-weight: bold;
  text-align: center;
  color: $heading_color;
  margin: 0.5em 0 0em 0;
  font-size: 1.5em;
  font-weight: bold;
}

.issue {
  font-size: 1em;
  font-weight: bold;
  padding: 1em 0px 1em 10px;
  margin: 0 200px 0 100px;
  background-color: #50b9f9;
}

q::before {
  content: "\201C";
}

q::after {
  content: "\201D";
}

/*p { margin: 0 }*/
/*p + p { text-indent: 1.3em }*/
p.sidenote + p, p.caption, p.art { text-indent: 0 }

p.author {
  margin-top: 2em;
  text-indent: 0;
  text-align: right;
}

pre {  
  margin: 1em 1.3em;
  border-radius: 1ex;
  padding: 1ex;
}

a { text-decoration: none; }

/* cross-references */

a.pageref::after { content: " on page " target-counter(attr(href), page); }
a.chapref::before { content: " Chapter " target-counter(attr(href), chapter) ", "; }
a.figref { content: " Figure " target-counter(attr(href), figure); }
a.tableref { content: " Table " target-counter(attr(href), figure); }

figure {
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  figcaption {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    display: block;
    color: $heading_color;
    &::before {
      content: " Figure " counter(figure) ": ";
    }

  }
}

/* sidenotes */

.sidenote {
  float: left;
  clear: left;
  margin: 0 0 1em -41%;
  width: 37%;
  font-size: 0.9em;
  font-style: normal;
  text-indent: 0;
  text-align: right;
  page-break-inside: avoid;
  background: #50b9f9;
}

.code-filename {
  color: $heading_color;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;

  &:before {
    content: "Filename: "
  }
}

.code-caption {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: $heading_color;
  text-align: center;
}

/* sidebars */

.sidebar {
  float: right;
  clear: right;
  /* margin: 0 3em 1em -20%; */
  margin: 0 1.5em 1em 1em;
  font-size: 10pt;
  width: 40%;
  border-left: thin solid black;
  text-align: justify;
  /*background: #DDFFFF;*/
  padding: 0.5em 0.5em;
  //  page-break-inside: avoid;
  /*column-count: 2;
    column-gap: 1.5em; */

  h3 {
    margin-top: 0;
    text-align: center;
    border-bottom: thin solid black;
  }

  pre {
    font-size: 10pt;
  }

  .sidebar-body {
    margin-bottom: 1em;
  }
}

/* figures and tables*/

div.figure {
  margin: 1em 0;
  counter-increment: figure;
}

figure {
  margin: 1em 0;
  counter-increment: figure;
  text-align: center;
}

div.CodeRay {
  counter-increment: sample;
}

div.code-caption::before {
  content: "Sample " counter(chapter) "-" counter(section) "-" counter(sample) ": ";
}

div.figure .caption, div.table .caption {
  float: left;
  clear: left;
  width: 37%;
  text-align: right;
  font-size: 0.9em;
  margin: 0 0 1.2em -40%;
}

ol li, ul li {
  margin-bottom: 1em;
}



div.figure .caption::before {
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}

div.table .caption::before {
  content: "Table " counter(table) ": ";
  font-weight: bold;
}

div.table {
  margin: 1em 0;
  counter-increment: table;
}

div.table th {
  text-align: left;
}

table th, table td {
  text-align: left;
  padding-right: 1em;
  border-top: none;
  border-bottom: thin dotted;
}

table.lined td, table.lined th {
  border-top: none;
  border-bottom: thin dotted;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}


/* footnotes */

.footnote {
  display: none;                   /* default rule */
  display: prince-footnote;        /* prince-specific rules */
  position: footnote;
  footnote-style-position: inside;
  counter-increment: footnote;
  //  margin-left: 1.4em;
  font-size: 9pt;
  line-height: 1.4;
}

a.footnote {
  display: inline;
  margin-left: 0em;
  font-size: 9pt;
  line-height: 1;
}

.footnote code, .footnote pre {
  font-size: 10pt;
}

.footnote::footnote-call {
  vertical-align: super;
  font-size: 80%;
}

.footnote::footnote-marker {
  vertical-align: super;
  color: green;
  padding-right: 0.4em;
}

div.frontcover img {
  position: absolute;
  width:  $print_page_width;
  height: $print_page_height;
  left: 0; top: 0;
  z-index: -1;
}

div.frontcover h1 {
  position: absolute;
  left: 2cm; top: 1cm;
  color: white;
  font-size: 44pt;
  font-weight: normal;
}

div.frontcover h2 {
  position: absolute;
  right: 0; top: 5cm;
  color: black;
  background: white;
  font-size: 16pt;
  font-weight: normal;
  padding: 0.2em 5em 0.2em 1em;
  letter-spacing: 0.15em;
}

div.frontcover h3 {
  position: absolute;
  left: 2cm; top: 7cm;
  color: white;
  font-size: 24pt;
  font-weight: normal;
}

div.frontcover p {
  position: absolute;
  left: 2cm; bottom: 1.5cm;
  font-size: 24pt;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}


/* titlepage, halftitlepage */

div.titlepage h1, div.halftitlepage h1 { margin-bottom: 2em; }
div.titlepage h2, div.halftitlepage h2 { font-size: 1.2em; margin-bottom: 3em; }
div.titlepage h3, div.halftitlepage h3 { font-size: 1em; margin-bottom: 3em; }
div.titlepage p, div.halftitlepage p {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0; 
  padding: 0;
}

section.chapter:first-of-type {
  counter-reset: page 1;
}

/* chapter numbers */

section.chapter { 
  counter-increment: chapter; 
  counter-reset: section; 
}

h1::before {
  white-space: pre;
  font-size: 50%;
  text-align: right;
}

section.chapter h1::before { 
  content: "Chapter " counter(chapter) " \A";
}

div.frontcover h1::before, div.titlepage h1::before, div.halftitlepage h1::before {
  content: normal;                  /* that is, none */
}

h1 { string-set: header content();}
section.chapter h1 { string-set: header "Chapter " counter(chapter) ": " content(); }

section.chapter h2 { counter-increment: section; counter-reset: sample; }

section.chapter h2::before {
  color: lighten($heading_color, 50%);
  content: counter(chapter) "." counter(section) " "; 
}

//h2 { string-set: header content();}
section.chapter h2 { 
  string-set: header "Section " counter(chapter) "." counter(section) ": " content(); 
}

div.frontcover h1::before, div.titlepage h1::before, div.halftitlepage h1::before {
  content: normal;                  /* that is, none */
}


/* index */

ul.index {
  list-style-type: none;
  margin: 0; padding: 0;
  column-count: 2;
  column-gap: 1em;
}

ul.index a::after { content: ", " target-counter(attr(href), page); }


span.element, span.attribute {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}
span.property { font-weight: bold }
pre, code, span.css, span.value, span.declaration {
  color: $heading_color;
  font-family: "Source Code Pro", "Inconsolata", "Anonymous Pro", "DejaVu Sans Mono", "Lucida Console", "Lucida Sans Typewriter", monospace;
}

pre {
  font-size: 10pt;
  page-break-inside: avoid;
}

div.imprint {
  .title {
    font-size: 2.5em;
    font-weight: 900;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }

  .subtitle {
    font-size: 2em;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }
}

@media screen, handheld {
  html { margin: 1em; font: 14px $font, sans-serif; }
  h1 { margin-bottom: 0.5em }
  div.frontcover, div.halftitlepage, div.titlepage, div.imprint,
  div.dedication, div.foreword, div.toc, div.index { display: none }
}


@media print, handheld {
  pre {
    white-space: pre-wrap;
  }
}

@media screen {
  pre {
    overflow: auto;
  }
}
