@mixin toc {
  ul, ol {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;

    ul ul, ol ol {
      display: none;
    }

    li {
      a:after {
        font-weight: normal;
        content: leader(".") target-counter(attr(href), page);
      }
      margin: 0;
      padding: 0;
    }

    & > li {
      font-weight: bold;
    }

    ul li, ol li {
      font-weight: normal;
      list-style-type: none;
    }

    & > ul, & > ol {
      page-break-inside: avoid;
    }

    ul, ol {
      margin-left: 0.5em;
      padding-left: 0.5em;
    }
  }
}
